---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortByDate } from "../lib/utils";
import { PATHS } from "../lib/constants";

const shortPosts = sortByDate(await getCollection("short"));
const longPosts = sortByDate(await getCollection("long"));
---

<BaseLayout title="Home">
  <nav id="sidebar" class="landing-sidebar">
    <h1>Daniel Langkilde</h1>
    <ul id="toc">
      <li><a href="/about">About</a></li>
      <li><a href="#short-writing">Short Writings</a></li>
      <li><a href="#long-writings">Long Writings</a></li>
      <li><a href="/investments">Investments</a></li>
      <li><a href="/memes">Memes</a></li>
      <link
        rel="alternate"
        type="application/rss+xml"
        href="/rss.xml"
        title="RSS Feed"
      />
    </ul>
  </nav>

  <main>
    <!-- Short Writings Section -->
    <section id="short-writing" class="post-list">
      <h1>Short Writings</h1>
      <ul>
        {
          shortPosts.map((post) => (
            <li>
              <a href={`${PATHS.short}/${post.slug}`}>
                {post.data.title} <small>({post.data.pubDate})</small>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <!-- Long Writings Section -->
    <section id="long-writings" class="post-list">
      <h1>Long Writings</h1>
      <ul>
        {
          longPosts.map((post) => (
            <li>
              <a href={`${PATHS.long}/${post.slug}`}>
                {post.data.title} <small>({post.data.pubDate})</small>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <div class="bottom-spacer"></div>
  </main>
</BaseLayout>
